# Node and system files
node_modules/
.DS_Store
Thumbs.db

# Editor folders
.vscode/

# Temporary files
*.log
*.tmp

# Archive and media files
*.zip
*.mp4

# Dev screenshots
screenshots/

# Environment / secrets
.env
sanity/.env
